.palette-white-bg {
background-color: #ffffff;
}
.palette-white {
color: #ffffff;
}
.palette-neg-beige-bg {
background-color: #B7A497;
}
.palette-neg-beige {
color: #B7A497;
}

.palette-lightgreen {
color: #243E02;
}
.palette-lightgreen-bg {
background-color: #243E02;
}

.palette-palegreen {
color: #748757;
}
.palette-palegreen-bg {
background-color: #748757;
}

.palette-darkgreen {
color: #243E02;
}
.palette-darkgreen-bg {
background-color: #243E02;
}

.palette-neg-purple {
color: #564754;
}
.palette-neg-purple-bg {
background-color: #564754;
}

.palette-purple {
color: #440038;
}
.palette-purple-bg {
background-color: #440038;
}
