/* animation */

.appear {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  
  .appear.inview {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  
  .appear.inview:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  
  .appear.inview:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  
  .appear.inview:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  
  .appear.inview:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  
  .appear.inview:nth-child(5) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .appear.inview:nth-child(6) {
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }
  
  .appear.inview:nth-child(7) {
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s;
  }
  
  .appear.inview:nth-child(8) {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
  }
  
  .appear.inview:nth-child(9) {
    -webkit-transition-delay: 0.9s;
            transition-delay: 0.9s;
  }
  
  .appear.inview:nth-child(10) {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  