#mobile-nav {
    display: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.mobile-nav-notScrolled {
top: 6em;
}
/* 
.mobile-nav-scrolled {
top: 3.8em;
} */

@media only screen and (max-width: 768px) {

    /* #mobile-nav {
        display: block;
    } */
    #nav-menu-shrink {
        display: none;
    }

    #nav-logo-shrink {
        max-width: 50%;
    }

    .nav-menu {
        position: fixed;
        z-index: 1;
        left: -100%;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
