html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  color: #243E02;
  font-size: 1em;
}

.handwriting {
  font-family: 'Parisienne', cursive;
}

#loader {
    /* display: none; */
    width: 100%;
    height: 100%;
    background-image: url("img/loader-img.jpg");
    filter: brightness(0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.on-top {
  z-index: 1;
}

.offset-left-10 {
  margin-left: -10%;
}

.offset-left-20 {
  margin-left: -20%;
}

.offset-left-30 {
  margin-left: -30%;
}

.offset-left-40 {
  margin-left: -40%;
}

.offset-top-10 {
  margin-top: -10%;
}

.offset-top-20 {
  margin-top: -20%;
}

.offset-top-30 {
  margin-top: -30%;
}

.offset-top-40 {
  margin-left: -40%;
}

#navigator {
  transition: 0.1s; /* Adds a transition effect when the padding is decreased */
}

.nav-cover {
  height: 25%;
}

#hero-hp {
  background-image: url("img/hero-hp.jpg");
  height: 80%;
  background-size: cover;
  background-position: center;
}

#section-1 {
  background-color: #B7A497;
}

#section-3 {
  height: 100%;
  background-color: #B7A497;
}

#section-2 {
  height: 80%;
}

.video-container {
  height: 50%;
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.4);
}

.z-index-0 {
  z-index: 0;
}

#video-mobile {
  filter: brightness(0.4);
}

.video-container .caption {
  /* z-index: 1;
  position: relative;
  text-align: center;
  padding: 10px; */
  position: absolute; top: 10%; left: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
}
/* .video-container .caption h2 {
  margin-top: 30%;
} */

.typed-out{
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end) forwards;
  font-size: 3.5rem;
  width: 0;
  text-align: center;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* #contact-bg {
  background-image: url("img/contact-page.jpg");
} */

.zoom-on-scroll {
  overflow: hidden;
}

.zoom-on-scroll img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media only screen and (max-width: 768px) {

  .offset-left-10 {
    margin-left: 0%;
  }
  
  .offset-left-20 {
    margin-left: 0%;
  }
  
  .offset-left-30 {
    margin-left: 0%;
  }
  
  .offset-left-40 {
    margin-left: 0%;
  }

  .offset-top-10 {
    margin-top: 0%;
  }
  
  .offset-top-20 {
    margin-top: 0%;
  }
  
  .offset-top-30 {
    margin-top: 0%;
  }
  
  .offset-top-40 {
    margin-top: 0%;
  }
}

