
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  color: #243E02;
  font-size: 1em;
  font-weight: 200;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

.bold {
  font-weight: 700;
}

.handwriting {
  font-family: 'Oooh Baby', cursive;
}

.menu {
  transform: translate(0%, 0%);
  text-align: center;
}

.menu_link {
  display: inline-block;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.040em;
}

.menu_link svg {
  fill: none;
  stroke: #440038;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 60px);
  transform: translate(-50%, -50%);
  z-index: -1;
/* .menu_link:hover svg { */
  stroke-dashoffset: 0;
  opacity: 0;
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.scribbled svg {
  transition-duration: 1s;
  transition-delay: 0.5s;
  opacity: 1;}

#loader {
    /* display: none; */
    width: 100%;
    height: 100%;
    background-image: url("img/loader-img.jpg");
    filter: brightness(0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.on-top {
  z-index: 1;
}

.offset-left-2 {
  margin-left: -2%;
}

.offset-left-10 {
  margin-left: -10%;
}

.offset-left-20 {
  margin-left: -20%;
}

.offset-left-30 {
  margin-left: -30%
}

.offset-left-40 {
  margin-left: -40%;
}

.offset-right-10 {
  margin-right: -10%;
}

.offset-right-20 {
  margin-right: -20%;
}

.offset-right-30 {
  margin-right: -30%;
}

.offset-right-40 {
  margin-right: -40%;
}

.offset-top-10 {
  margin-top: -10%;
}

.offset-top-20 {
  margin-top: -20%;
}

.offset-top-30 {
  margin-top: -30%;
}

.offset-top-40 {
  margin-left: -40%;
}

.col-sm-2half {
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
.col-sm-2half {
  flex: 0 0 20%;
  max-width: 20%;
  }
}

/* picture filter */
.filter-darker {
  filter: brightnss(0.5);
}


#navigator {
  transition: 0.1s; /* Adds a transition effect when the padding is decreased */
}

.nav-cover {
  height: 30%;
}

#hero-hp {
  background-image: url("img/hero-hp.jpg");
  height: 80%;
  background-size: cover;
  background-position: center;
}

#section-1 {
}

#section-2 {
  height: 50%;
}

#section-3 {
  height: 100%;
}

.video-container {
  height: 90%;
  width: 100%;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.4);
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

#video-mobile {
  filter: brightness(0.4);
  height: 90%;
}

.video-container .caption {
  /* z-index: 1;
  position: relative;
  text-align: center;
  padding: 10px; */
  position: absolute; top: 10%; left: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  width: 100%;
  height: 100%;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* #contact-bg {
  background-image: url("img/contact-page.jpg");
} */

.zoom-on-scroll {
  overflow: hidden;
}

.zoom-on-scroll img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 3.5em;
  }
  
  h2 {
    font-size: 2em;
  }

  .offset-left-10 {
    margin-left: 0%;
  }
  
  .offset-left-20 {
    margin-left: 0%;
  }
  
  .offset-left-30 {
    margin-left: 0%;
  }
  
  .offset-left-40 {
    margin-left: 0%;
  }

  .offset-right-10 {
    margin-right: 0%;
  }
  
  .offset-right-20 {
    margin-right: 0%;
  }
  
  .offset-right-30 {
    margin-right: 0%;
  }
  
  .offset-right-40 {
    margin-right: 0%;
  }

  .offset-top-10 {
    margin-top: 0%;
  }
  
  .offset-top-20 {
    margin-top: 0%;
  }
  
  .offset-top-30 {
    margin-top: 0%;
  }
  
  .offset-top-40 {
    margin-top: 0%;
  }
}
